# Python bytecode
*.pyc
# cffi output
*.so
*.o
*.c

# Test output
.coverage
.cache
# Build output
/dist/
/build/
/pywayland.egg-info

# Scanner output
/pywayland/protocol

# Vim swap files
*.swp

# Doc output
/doc/_build/
/doc/module/protocol/
