repos:
  - repo: https://github.com/psf/black
    rev: 23.9.0
    hooks:
      - id: black
        # Use the latest supported version here
        language_version: python3.11
        exclude: ^test/scanner_files/
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.287
    hooks:
      - id: ruff
